name: Release and Publish

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Version bump and publish to NPM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'

      - name: Install dependencies
        run: npm ci

      # - name: Run tests
      #   run: npm test

      - name: Build project
        run: npm run build

      - name: Bump version and publish
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git reset --hard HEAD      # ensure clean state
          npm version patch -m "chore(release): bump version to %s [skip ci]"
          git push origin main --follow-tags
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
